<mat-toolbar class="fxLayout dark app-toolbar"
             style="width: 100%;
                    height: 80px;
                    flex-direction: row;
                    justify-content: space-between;
                    background-color: rgb(160, 127, 17);
                    color: ghostwhite;">

    <div class="fxLayout" style="flex-direction: row; align-items: center;">
      <img src="https://cdn-icons-png.flaticon.com/512/311/311523.png" alt="" width="5%">
      <span>&nbsp;คาปิบาลาบ</span>
    </div>

      <div >
        <button mat-flat-button style="background-color: rgb(160, 127, 17); color: ghostwhite;" routerLink="/owner">Owner</button>
        <button mat-flat-button style="background-color: rgb(160, 127, 17); color: ghostwhite;" routerLink="">HOME</button>
        <button mat-flat-button style="background-color: rgb(160, 127, 17); color: ghostwhite;" (click)="showdata()">About AS</button>
        <button mat-flat-button style="background-color: rgb(160, 127, 17); color: ghostwhite;" >log out</button>
      </div>



</mat-toolbar>
<app-login></app-login>
