<div class="container-fluid" style="display: flex;justify-content: center;align-items: center;height: 60%;  color: black;">
  <div class="card">
    <div class="card-body" style="color: black;">
      <h5 class="card-title text-center" style="color: black;font-size: 24px;font-weight: bold;">คาปิบาลาบ</h5>
        <!-- <span class="center" style="color: black;font-size: 24px;font-weight: bold;">Login</span> -->
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" required #username>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" required #password>
        </div>
        <div style="display: flex;justify-content: center;margin-top: 15px;">
          <button type="submit" class="btn btn-primary" (click)="login(username.value,password.value)">Login</button>
          <button class="btn btn-primary" style="margin-left: 5%;" routerLink="/register">Register</button>
        </div>

        <a style="color: #81B497;display: flex;justify-content: end;" routerLink="/register">Register</a>
    </div>
  </div>
</div>
<div style="display: flex;justify-content: center;align-items: center;">
  <button class="btn btn-danger" style="width: 250px;height: 35px;" routerLink="/ownerlogin">Go to Owner Login</button>
</div>

