<div class="container-fluid" style="display: flex;justify-content: center;align-items: center;height: 60%;" >
  <div class="card">
    <div class="card-body" style="color: black;">
      <h5 class="card-title text-center" style="color: black;font-size: 24px;font-weight: bold;">สมัคร</h5>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" required #username>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" required #password>
        </div>
        <div class="form-group">
          <label for="confrimpassword">Confrim Password</label>
          <input type="password" class="form-control" id="password" name="confrimpassword" required #confrimpassword>
        </div>
        <div style="display: flex;justify-content: center;margin-top: 15px;">
          <button type="submit" class="btn btn-primary" >Register</button>
        </div>
    </div>
  </div>
</div>
