<div class="container-fluid" style="display: flex;justify-content: center;align-items: center;height: 60%;" >
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-center" style="color: black;font-size: 24px;font-weight: bold;">Owner</h5>
        <!-- <span class="center" style="color: black;font-size: 24px;font-weight: bold;">Login</span> -->
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" required #username>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" required #password>
        </div>
        <div style="display: flex;justify-content: center;margin-top: 15px;">
          <button type="submit" class="btn btn-primary" (click)="checkOwner(username.value,password.value)">Login</button>
        </div>
    </div>
  </div>

</div>
