
<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">カーピバラープ    </h1>
    <p>お腹すいた 何食べよ...</p>

  </div>
</div>

<div *ngIf="dataLogin.cid != 0" class="container" style="height: 70px;margin-top: 5px;display: flex;justify-content: center;">
  <div class="card" style="width: 65%;background-color: rgb(160, 127, 17)">
    <div class="card-body" style="display: flex;flex-direction: row;justify-content: space-around;font-size: 20px;font-weight: bold;">
      <span>รหัสผู้ใช้: {{dataLogin.cid}}</span>
      <span>ชื่อ: {{dataLogin.name}}</span>
      <span>จำนวนเงิน: {{dataLogin.money}}</span>
      <button type="button" class="btn btn-danger" (click)="logOut()">Log out</button>
    </div>
  </div>
</div>

<div style="text-align: center; margin-top: 1%; margin-bottom: 1%;" >
  <button mat-raised-button style="background-color: rgb(160, 127, 17); color: white;" (click)="findAll()">ทุกประเภท</button>
  <button mat-raised-button style=" background-color: rgb(160, 127, 17); color: white ; margin-left: 25px;" *ngFor="let foodtype of this.foodtypes " (click)="findByFoodtype(foodtype.name)">
    {{foodtype.name}}
  </button>



</div>


<div class="container">
  <div class="row" >
    <div class="col-md-4" *ngFor="let food of this.foods">
      <div class="card" style="margin-top: 15px;">
        <img class="card-img-top img-fluid" src="{{food.image}}" alt="" style="width: 500px; height: 250px;">
        <h1 class="card-title" style="color: rgb(160, 127, 17);">{{food.name}}</h1>
        <h3 class="card-text" style="color: rgb(160, 127, 17);">ราคา : {{food.price}}</h3>
        <h3 class="card-text" style="color: rgb(160, 127, 17);">ประเภท : {{food.type}}</h3>
        <div style="display: flex;flex-direction: row;justify-content: center;">
          <div >
            <a class="btn" (click)="showAdd(food.name)" style="color: white; background-color: rgb(160, 127, 17);">Add to cart +</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
