<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">คาปิบาลาบ</h1>
    <p>คุณหิวรึยังครับ......</p>

  </div>
</div>
<div style="

  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
">
  <div
     class="container"
    *ngFor="let food of this.foods"
  >
  <img src="{{food.image}}" alt="" class="image">
  <div class="middle">
    <div class="text">{{food.name}}</div>
    <div class="text">ราคา : {{food.price}}</div>
    <div class="text">ประเภท : {{food.type}}</div>
  </div>


  </div>
</div>
