<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">คาปิบาลาบ</h1>
    <p>คุณหิวรึยังครับ......</p>

  </div>
</div>
<div style="
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
">
  <div
    style="
      margin-top: 20px;
      display: flex;
      position: relative;
      justify-content: start;
      margin-left: 20px;
      margin-right: 20px;
      background-color: rgb(160, 127, 17);
      width: 33.33%;
    "
    *ngFor="let food of this.Foods"
  >
    <div class="grow img">
      <img
        src="{{ food.image }}"
        alt=""
        width="400px"
      />
    </div>
    <div style="display: flex; position: relative; flex-direction: column">
      <div style="margin-left: 20px">
        <span style="font-size: 30px">{{ food.name }}</span>
      </div>
      <div style="margin-left: 20px">
        ราคา :{{ food.price}}
      </div>
      <div style="margin-left: 20px">
        ประเภท :{{ food.FTID }}
      </div>
    </div>
  </div>
</div>
