<!-- style="display: flex;flex-direction: row;background-color: #EC4E4E ;justify-content: space-around;" -->
<div class="container-fluid">
  <div class="barList">
    <span>หมายเลขบิล</span>
    <span>ชื่อผู้สั่ง</span>
    <span>ราคารวม</span>
    <span>ปี/เดือน/วัน</span>
    <span>สถานะ</span>
    <span style="color: #EC4E4E ;">ดูรายละเอียด</span>
  </div>
  <div *ngFor="let owner of this.owners">
    <div class="detailList" *ngIf="owner.status != 'ยังไม่ชำระเงิน'">
      <span>{{owner.bid}}</span>
      <span>{{owner.name}}</span>
      <span>{{owner.totalPrice}}</span>
      <span>{{owner.day}}</span>
      <!-- <span>{{owner.status}}</span> -->
      <select name="statusBill" style="margin-left: 10px;height: 30px;color: black;" (change)="statusChange($event,owner.bid)">
        <option selected>{{owner.status}}</option>
        <option *ngIf="owner.status != 'กำลังจัดส่ง'">กำลังจัดส่ง</option>
        <option *ngIf="owner.status != 'จัดส่งแล้ว'">จัดส่งแล้ว</option>
      </select>
      <button mat-flat-button style="background-color: #9DDC27  ;font-size: 12px;height: 25px;" routerLink="/ownerdetail" (click)="goToDetail(owner)">ดูรายละเอียด</button>
    </div>
  </div>
</div>
